NET CLOCK           LOC = C10 | IOSTANDARD = LVCMOS33;
NET DATA<0>         LOC = H12 | IOSTANDARD = LVCMOS33;
NET DATA<1>         LOC = G13 | IOSTANDARD = LVCMOS33;
NET DATA<2>         LOC = E16 | IOSTANDARD = LVCMOS33;
NET MAX<0>          LOC = E18 | IOSTANDARD = LVCMOS33;
NET MAX<1>          LOC = K12 | IOSTANDARD = LVCMOS33;
NET MAX<2>          LOC = K13 | IOSTANDARD = LVCMOS33;
NET RESET           LOC = F17 | IOSTANDARD = LVCMOS33;

NET CLOCK TNM_NET = CLOCK;
TIMESPEC TS_CLOCK_Y3 = PERIOD CLOCK 100000 kHz;